@import "../../../styles/mixins";

.section {
  * {
    box-sizing: border-box;
  }

  @include flex(column,center,initial);
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 120px;

  @include macbookThirteen {
    max-width: 440px;
  }
}
