@import "../../../styles/mixins";

.button {
  font-family: "SF Pro Display Medium", sans-serif;
  font-size: 1.143vw;
  line-height: 1.429vw;
  padding: 1.286vw 2.071vw;

  @include flex(row,center,center);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all ease-out .4s;
  color: $white;
  background-color: $blue;
  border-radius: 1.429vw;

  @include macbookThirteen {
    font-size: 16px;
    line-height: 20px;
    padding: 18px 29px;
    border-radius: 20px;
  }

  &:hover,
  &:active {
    opacity: .9;
  }

  &:disabled {
    background-color: $disabled;
  }

  &_apple {
    background-color: $dark-blue;
    color: $white;
  }

  &_google {
    background-color: $white;
    color: $black;
    padding: 1.286vw 1.571vw;

    @include macbookThirteen {
      font-size: 16px;
      line-height: 20px;
      padding: 18px 22px;
      border-radius: 20px;
    }
  }
}
