.residentFormWrapper {
  & > div {
    margin-bottom: 16px;
  }

  .cityWithState {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    & > div {
      width: 50%;
    }

    & > label {
      width: 50%;
      margin-bottom: 0;

      & > div {
        margin-bottom: 0;
      }
    }
  }
}