@import "../../styles/mixins";

.section {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @include flex(column,initial,center);
  padding-top: 5.714vw;
  color: $white;

  @include macbookThirteen {
    padding-top: 80px;
  }

  .logo {
    @include size(8.571vw, 2.857vw);

    @include macbookThirteen {
      @include size(120px, 40px);
    }
  }

  .title,
  .subtitle {
    letter-spacing: 1px;
  }

  .title {
    font-family: "SF Pro Display Heavy", sans-serif;
    margin-top: 2.857vw;
    font-weight: 700;
    font-size: $fz-24;
    line-height: 2.286vw;

    @include macbookThirteen {
      margin-top: 40px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .subtitle {
    font-family: "SF Pro Display Medium", sans-serif;
    font-weight: 500;
    font-size: 1.143vw;
    line-height: 1.714vw;
    margin-top: $fz-24;
    text-align: center;
    max-width: 1140px;

    @include macbookThirteen {
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
      max-width: 550px;
    }
  }

  .qrWrapper {
    background: $white;
    margin-top: 2.857vw;
    padding: 1.429vw;
    border-radius: $fz-16;

    @include macbookThirteen {
      margin-top: 40px;
      border-radius: 16px;
      padding: 20px;
    }

    .qrCode {
      height: 11.429vw;
      width: 11.429vw;

      @include macbookThirteen {
        height: 160px;
        width: 160px;
      }
    }
  }

  .description {
    margin-top: 2.857vw;
    font-family: "SF Pro Display Medium", sans-serif;
    font-weight: 500;
    font-size: 1.143vw;
    line-height: 1.714vw;
    text-align: center;
    max-width: 1140px;

    @include macbookThirteen {
      margin-top: 40px;
      font-size: 16px;
      line-height: 24px;
      max-width: 320px;
    }
  }

  .actions {
    margin-top: 1.714vw;
    margin-bottom: 4vw;
    max-width: 1140px;
    width: 32.857vw;

    @include macbookThirteen {
      width: 320px;
      margin-top: 24px;
      margin-bottom: 56px;
    }

    @include phone {
      margin-top: 24px;
      margin-bottom: 40px;
      width: 280px;
    }

    input {
      text-align: center;
      padding: 1.429vw;

      width: 100%;

      @include macbookThirteen {
        padding: 20px;
      }
    }

    button {
      margin-top: 1.143vw;
      padding: 1.571vw 4.857vw;
      position: relative;
      height: 4.571vw;
      background: $black;
      width: 100%;

      @include macbookThirteen {
        height: 64px;
        margin-top: 16px;
        padding: 22px 68px;
      }
    }

    .error,
    .success {
      margin-top: .357vw;
      font-size: 1vw;
      text-align: center;
      font-family: "SF Pro Display Medium", sans-serif;

      @include macbookThirteen {
        margin-top: 5px;
        font-size: 14px;
      }
    }

    .success {
      color: $success;
    }

    .error {
      color: $error;
    }

    .loader {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%);

      @include macbookThirteen {
        top: 35%;
      }

      div {
        height: 1.429vw;
        width: 1.429vw;

        @include macbookThirteen {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
