@import "../../styles/mixins";

.section {
  * {
    margin: 0;
    padding: 0;
  }

  @include flex(column,initial,center);
  padding-top: 5.714vw;
  color: $black;

  @include macbookThirteen {
    padding-top: 80px;
  }

  .logo {
    @include size(8.571vw, 2.857vw);

    @include macbookThirteen {
      @include size(120px, 40px);
    }
  }

  .title {
    font-family: "SF Pro Display Heavy", sans-serif;
    margin-top: 4.714vw;
    font-weight: 700;
    font-size: 1.714vw;
    line-height: 2.286vw;

    @include macbookThirteen {
      margin-top: 66px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .subtitle {
    font-family: "SF Pro Display Medium", sans-serif;
    font-weight: 500;
    font-size: 1.143vw;
    line-height: 1.714vw;
    margin-top: 2.857vw;
    text-align: center;

    @include macbookThirteen {
      font-size: 16px;
      line-height: 24px;
      margin-top: 40px;
    }
  }

  .qrCode {
    margin-top: 4.571vw;
    height: 14.286vw;
    width: 14.286vw;

    @include macbookThirteen {
      height: 200px;
      width: 200px;
      margin-top: 64px;
    }
  }

  .description {
    margin-top: 1.714vw;
    font-family: "SF Pro Display Medium", sans-serif;
    font-weight: 500;
    font-size: 1.143vw;
    line-height: 1.714vw;
    text-align: center;

    @include macbookThirteen {
      margin-top: 24px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .actions {
    width: 22.857vw;
    margin-top: 1.714vw;
    margin-bottom: 2.857vw;

    @include macbookThirteen {
      width: 320px;
      margin-top: 24px;
      margin-bottom: 40px;
    }

    @include phone {
      width: 280px;
      margin-top: 24px;
      margin-bottom: 40px;
    }

    label,
    button,
    input {
      width: 100%;
    }

    label {
      overflow: hidden;
    }

    button {
      margin-top: 1.143vw;
      padding: 1.571vw 4.857vw;

      @include macbookThirteen {
        margin-top: 16px;
        padding: 22px 68px;
      }
    }

    .error {
      margin-top: .357vw;
      font-size: 1vw;
      text-align: center;
      color: $error;

      @include macbookThirteen {
        margin-top: 5px;
        font-size: 14px;
      }
    }
  }
}
