@import "../../styles/mixins";

.buttons {
  @include flex(row,space-between,center);
  margin-top: 40px;

  .arrow {
    padding: 16px;
    background: $white;
    border-radius: 16px;
  }

  button {
    padding: 16px 83px;

    @include phone {
      padding: 16px 65px;
    }
  }
}