@import "../../styles/mixins";

.loadedError {
  font-family: "SF Pro Display Medium", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: $error;
  text-align: center;
  margin-top: 30vh;

  @include phone {
    font-size: 16px;
    line-height: 20px;
  }
}