@import "../../../styles/mixins";

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.label {
  font-family: "SF Pro Display Medium", sans-serif;
  background: transparent;
  display: block;
  border: 2px solid $blue;
  border-radius: 16px;

  input {
    border: none;
    color: $black;
    border-radius: 16px;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 16px;
    width: 100%;
    background: transparent;
    font-family: "SF Pro Display Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    transition: all .1s ease-in-out;

    &::placeholder {
      color: $gray-light;
      margin-top: 2px;
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}

.centered {
  input {
    line-height: 0;
    padding: 17px 16px;
    margin-top: 7px;
  }
}
