@import "../../../styles/mixins";

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.label {
  border: 2px solid $blue;
  background: transparent;
  border-radius: 16px;
  display: block;

  .input {
    border: none;
    border-radius: 16px;
    padding: 20px 16px;
    color: $black;

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}
