@import "../../styles/mixins";

.section {
  @include flex(column,initial,center);
  padding-top: 5.714vw;

  @include macbookThirteen {
    padding-top: 80px;
  }

  .logo {
    @include size(8.571vw, 2.857vw);

    @include macbookThirteen {
      @include size(120px, 40px);
    }
  }

  .car {
    @include size(17.143vw, 14.286vw);

    @include macbookThirteen {
      @include size(234px, 240px);
    }
  }

  .title,
  .description {
    text-align: center;
    max-width: 1140px;

    @include macbookThirteen {
      max-width: 440px;
    }
  }

  .title {
    font-size: 1.714vw;
    font-family: "SF Pro Display Heavy", sans-serif;
    color: $black;

    @include macbookThirteen {
      font-size: 24px;
    }

    @include phone {
      font-size: 20px;
      text-align: center;
    }
  }

  .description {
    font-family: "SF Pro Display Medium", sans-serif;
    font-weight: 500;
    font-size: 1.143vw;
    line-height: 1.714vw;

    @include macbookThirteen {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .authButtons {
    @include flex(column, center ,center);

    .signIcon {
      @include size(1vw, 1.143vw);

      @include macbookThirteen {
        @include size(14px, 16px);
      }
    }

    button {
      svg {
        margin-right: 1.143vw;

        @include macbookThirteen {
          margin-right: 16px;
        }
      }
    }

    button:first-child {
      margin-bottom: 1.143vw;

      @include macbookThirteen {
        margin-bottom: 16px;
      }
    }
  }
}
