.fieldWrapper {
  height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 16px;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  font-family: "SF Pro Display Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 414px) {
    height: 72px;
  }
}

.active {
  border: 2px solid #0062ff;
}