.fieldWrapper {
  padding: 20px 24px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 16px;
  align-items: center;
  position: relative;
}