@font-face {
  font-display: fallback;
  font-family: "SF Pro Display Heavy";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SFProDisplay-Heavy.woff2");
}

@font-face {
  font-display: fallback;
  font-family: "SF Pro Display Medium";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/SFProDisplay-Medium.woff2");
}

@font-face {
  font-display: fallback;
  font-family: "Inter Regular";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Inter-Regular.woff2");
}

@font-face {
  font-display: fallback;
  font-family: "SF Compact Rounded";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/SF-Compact-Display-Regular.ttf");
}
