@import "./variables";

@mixin flex($fd: initial, $jc: initial, $ai: initial, $fw: initial) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: $fw;
  align-items: $ai;
  justify-content: $jc;
}

@mixin size($w: initial, $h: initial) {
  width: $w;
  height: $h;
}

@mixin macbookThirteen {
  @media (max-width: $macbook-thirteen) {
    @content;
  }
}

@mixin largeTablet {
  @media (max-width: $large-tablet) {
    @content;
  }
}

@mixin mediumTablet {
  @media (max-width: $medium-tablet) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $small-tablet) {
    @content;
  }
}

@mixin iPhone {
  @media (max-width: $medium-mobile-size) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $small-mobile-size) {
    @content;
  }
}
