$ultra-4k: 4096px;
$ultra-hd: 3840px;
$quad-4k: 3200px;
$quad-hd: 2560px;
$full-hd: 1920px;
$hd-plus: 1600px;
$macbook-fifteen: 1445px;
$macbook-thirteen: 1400px;
$desktop: 1366px;
$below-desktop: 1330px;
$macbook-twelve: 1280px;
$below-macbook-twelve: 1150px;
$max-tablet-size: 1024px;
$below-max-tablet-size: 1023px;
$between-max-tablet-size-tablet-size: 816px;
$default-tablet-size: 768px;
$min-tablet-size: 683px;
$max-mobile-size: 568px;
$medium-mobile-size: 480px;
$small-mobile-size: 440px;

// colors
$black: #000;
$white: #fff;
$blue: #0062ff;
$disabled: #e7eaee;
$dark-blue: #09141f;
