// resolutions
$macbook-thirteen: 1400px;
$large-tablet: 940px;
$medium-tablet: 780px;
$small-tablet: 625px;
$medium-mobile-size: 480px;
$small-mobile-size: 414px;

// colors
$black: #000;
$white: #fff;
$blue: #0062ff;
$disabled: #e7eaee;
$dark-blue: #09141f;
$error: #fc0a0a;
$success: #3bf06e;
$pink: #f9557b;
$gray-light: #b1bdc8;
$gray-light-1: #f7f8f9;

// font-sizes
$fz-24: 1.714vw;
$fz-16: 1.143vw;