@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: $macbook-thirteen;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
