@import "../../styles/mixins";

.container {
  @include flex(column);
  margin: 0 auto;
  min-height: 100%;
  background: $gray-light-1;
}

.reset {
  @include tablet {
    padding: 0;
  }
}

.blue {
  background: $blue;
}

.content {
  flex: 1 0 auto;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-height: 720px) and (min-width: 1400px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content.kycReset {
  @media (min-height: 720px) and (min-width: 1400px) {
    display: block;
    align-items: initial;
    justify-content: initial;
  }
}

.footer {
  flex: 0 0 auto;
}
