.inputFormWrapper {
  div {
    margin-bottom: 16px;
  }
}

.error {
  font-family: "SF Pro Display Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff0202;
}