@import "../../../styles/mixins";

.header {
  * {
    box-sizing: border-box;
  }
  padding-top: 40px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100vw;

  @include macbookThirteen {
    width: 940px;
  }

  @media (max-width: $large-tablet) {
    width: 100%;
  }

  .navigation {
    @include flex(row,space-between,center);
    padding-right: 50px;
    padding-left: 50px;

    @media (max-width: $small-tablet) {
      padding-right: 30px;
      padding-left: 30px;
    }

    .logo {
      height: 40px;
      width: 120px;
    }

    button {
      padding: 10px 68px;
      background: #fff;
      color: $black;
      font-family: "Inter Regular", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      @include phone {
        padding: 10px 30px;
      }
    }
  }
}