@import "../../../styles/mixins";

.pinInputLabel {
  padding: 20px;
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border: 2px solid #0062ff;
  border-radius: 16px;
  font-family: "SF Pro Display Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;

  .pinInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pinInput {
      input {
        margin-left: 2px;
        border: none;
        outline: none;
        width: 12px;

        &:focus {
          border: none;
          outline: none;
        }
      }

      input:nth-child(4) {
        margin-left: 20px;
      }

      input:nth-child(6) {
        margin-left: 20px;
      }
    }

    .pinInputShow {
      color: #0062ff;
      line-height: 0;
    }
  }
}