@import "../../../styles/mixins";

.inputWrapper {
  position: relative;
  border-radius: 16px;
  padding: 20px 16px;
  font-family: "SF Pro Display Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid transparent;

  input {
    border: none;
    background-color: unset;
    outline: none;
    width: 100%;
  }

  label {
    position: absolute;
    left: 18px;
    color: #b1bdc8;
    transform-origin: 0 0;
    transition: transform .2s ease-in-out;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    transform: translateY(-15px) scale(.8);
  }

  input::placeholder {
    color: transparent;
  }
}

.active {
  border: 2px solid $blue;
}
