@import "../../styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1 0 auto;
  background-color: $black;
  overflow: hidden;
  padding: 120px 10px 64px;
  width: 100%;
  height: 100%;

  @media (max-width: 980px) {
    padding-top: 80px;
    align-items: center;
    justify-content: center;
  }

  .cosmonautWrapper {
    position: relative;
    top: 14px;
    left: 10px;

    @media (max-width: 980px) {
      display: none;
    }
  }

  .cosmonautMobileWrapper {
    display: none;

    @media (max-width: 980px) {
      display: block;
      position: relative;
      top: 32px;
    }

    @media (max-width: $medium-mobile-size) {
      top: 0;
      margin-bottom: 5px;

      img {
        width: 320px;
        height: 320px;
      }
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
    margin-left: 30px;

    @media (max-width: 980px) {
      margin-left: 0;
    }

    .infoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 400px;

      @media (max-width: 980px) {
        align-items: center;
        text-align: center;
        max-width: 480px;
      }

      @media (max-width: $medium-mobile-size) {
        max-width: 280px;

        .logoWrapper {
          svg {
            width: 96px;
            height: 32px;
          }
        }
      }

      .title {
        margin-top: 56px;
        font-family: "SF Pro Display", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        color: $white;

        @media (max-width: 980px) {
          font-size: 30px;
        }

        @media (max-width: $medium-mobile-size) {
          margin-top: 40px;
          font-size: 24px;
        }
      }

      .subtitle {
        margin-top: 24px;
        font-family: "SF Pro Display", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $white;
      }

      .note {
        margin-top: 24px;
        font-family: "SF Pro Display", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $white;
      }

      .buttonWrapper {
        margin-top: 40px;
        max-width: 320px;

        @media (max-width: $medium-mobile-size) {
          max-width: 240px;

          a {
            padding: 16px 69px;
          }
        }
      }

      .line {
        overflow: hidden;
        width: 400px;

        @media (max-width: 980px) {
          margin-top: 72px;
        }

        @media (max-width: $medium-mobile-size) {
          margin-top: 0;
          width: 240px;
        }
      }

      .qrWrapper {
        margin-top: 40px;
        border-radius: 16px;
        padding: 20px;
        background: $white;

        .qrCode {
          height: 160px;
          width: 160px;
        }
      }

      .qrDescription {
        margin-top: 40px;
        max-width: 340px;
        font-family: "SF Pro Display", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $white;

        @media (max-width: 980px) {
          margin-top: 38px;
        }
      }

      .actions {
        width: 320px;
        margin-top: 24px;

        label {
          border: transparent;
          background: #fff;

          input {
            text-align: center;
            width: 100%;
            padding: 16px 0;
            color: $black;

            &::placeholder {
              color: $black;
            }
          }
        }

        button {
          margin-top: 16px;
          padding: 16px 0;
          width: 100%;
          background: $dark-blue;
        }

        @media (max-width: 980px) {
          margin-top: 20px;
        }

        @media (max-width: $medium-mobile-size) {
          max-width: 240px;
        }
      }

      .footer {
        margin-top: 72px;
        font-family: "SF Pro Display", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $white;

        @media (max-width: 980px) {
          margin-top: 80px;
        }

        @media (max-width: $medium-mobile-size) {
          margin-top: 152px;
        }
      }
    }
  }

  .starsBackground {
    top: 0;
    left: 30%;
    z-index: 2;
    position: absolute;
    width: 900px;
    height: 900px;
    background: url("../../assets/stars.gif"), no-repeat center center fixed;
    background-size: cover;

    @media (max-width: 980px) {
      top: 0;
      left: 0;
      width: 100%;
      height: 75%;
    }

    @media (max-width: $medium-mobile-size) {
      height: 50%;
    }
  }
}
