.sendAgain {
  font-family: "SF Pro Display Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0062ff;
  margin-top: 16px;
}

.error {
  font-family: "SF Pro Display Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fc0404;
}

.pinInputLabel {
  padding: 20px;
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border: 2px solid #0062ff;
  border-radius: 16px;
  font-family: "SF Pro Display Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;

  .pinInput {
    input {
      margin-left: 2px;
      border: none;
      outline: none;
      width: 40px;
      font-family: "SF Pro Display Medium", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  .pinInputShow {
    color: #0062ff;
    line-height: 0;
  }
}